<div class="container">
  <div class="bg">
  <div class="hameed"></div>
    <div class="rr1"></div>
  <div class="rr2"></div>
  <div class="container2">
    <div class="t1a">Hey there! I'm</div> 
  <div class="t1">
    <a><b>Hameed Ibrahim</b> </a></div>
      <div class="t4">
        Web Developer, SysAdmin, Student, Geek, Designer
      </div>
    <div class="t2">My website is currently undergoing <a> maintanence</a> ! <br>
      I will be back shortly :)
      </div>
    <div class="t3"> Stay in touch</div>
  </div>
  </div>
    
<div class="slidebar">
  <div class="logo"></div>
  </div>
 



  
  
</div>

