.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container2 {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: #292727;
}
.hameed {
  position: absolute;
  width: 50%;
  height: 100%;

  background: url(../assets/hameed.png);
}
.rr1 {
  position: absolute;
  width: 75px;
  height: 30vw;
  top: -14vw;
  left: 86%;

  background: #ff2000;
  border-radius: 51px;
}
.rr2 {
  position: absolute;
  width: 75px;
  height: 40vw;
  bottom: 1vw;
  left: 92vw;
  background: #ff0000;
  border-radius: 51px;
}

.t1 {
  position: relative;
  width: fit-content;
  top: 11vw;
  padding-left: 5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 400%;
  line-height: 78px;

  color: #ffffff;
}
.t1a {
  position: relative;
  width: fit-content;
  top: 12vw;
  padding-left: 5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 200%;
  line-height: 78px;

  color: #ffffff;
}

.t2 {
  position: relative;
  width: 75%;
  top: 19vw;
  padding-left: 5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 170%;
  line-height: 32px;

  color: #ffffff;
}

.t3 {
  position: relative;
  width: fit-content;
  top: 26vw;
  padding-left: 5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 220%;
  line-height: 44px;

  color: #ffffff;
}
.t4 {
  position: relative;
  width: fit-content;
  padding-left: 5%;
  top: 11vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 135%;
  line-height: 29px;

  color: #ffffff;
}

.slidebar {
  position: absolute;
  width: 82px;
  height: 100%;

  background: rgba(255, 255, 255, 0.25);
}

.logo {
  position: rela;
  width: 74px;
  height: 73px;
  left: 6px;
  top: 21px;

  background: url(../assets/higlyph.png);
}

a {
  color: #ff0000;
}
@media (max-width: 1000px) {
  .rr1 {
    display: none;
  }
  .rr2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
  .bg {
    width: 100%;
    height: 100%;
  }
  .container2 {
    left: 0%;
    width: 100%;
    height: 40%;
  }
  .hameed {
    width: 100%;
    height: 50%;
  }
  .rr1 {
    display: none;
  }
  .rr2 {
    display: none;
  }
  .t1 {
    transform: scale(20%);
  }
  .t2 {
    top: 45vw;
  }
  .t3 {
    top: 55vw;
  }
  .slidebar {
    right: 0vw;
    background: none;
  }
  .logo {
    right: 5%;
    top: 2%;
  }
}
